
  .social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #1da1f2; 
}  
p{
    text-align: center;
    align-content: center;


}
ul{
    text-align: center;
    list-style-position: inside;
    
}
body{
    background: radial-gradient(circle,#00BFFF,#4B0082);
}
