.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .image-gallery a {
    display: block;
   
  }

  .image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .image-gallery img:hover {
    transform: scale(1.05);
  }

  body{
    background: black;
  }
  