
h1{
    background-color: white;
    margin-top: 0%;
    margin-bottom: 0%;
    height: 50px;
    text-align: center;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(19, 112, 169);
    padding: 10px 20px;
    text-decoration: underline white;
}

nav  a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
}

nav img{
    height: 150px;
}

pre{
    padding: 0;
    margin-left: 15px;
    margin-right: 50%;
    background: white;
    color: black;
}
footer{
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
    margin-top: 20px;
}

